<!-- 
    props:
        - name [String]
        - callback [Function]
        - selected [Int/String]
 -->

<settlement-amounts-dropdown>
    <form-dropdown title="Choose One" name="{ props.name }" callback="{ callback }" items="{ settlementAmounts }" el-class="form-control tx-12" selected="{ props.selected }"></form-dropdown>
    <script>
        import controller from './settlement-amounts-dropdown'
        export default controller
    </script>
</settlement-amounts-dropdown>