<upload-comment-attachment>
    <div class="form-inline">
        <div class="form-group">
            <input type="file" class="form-control tx-11" id="{ inputId }" accept="image/jpg,image/png">
            <button type="button" class="btn btn-primary mg-l-5 tx-10" onclick="{ doUpload }">Upload</button>
        </div>
    </div>
    <script>
        import controller from './upload-comment-attachment'
        export default controller
    </script>
</upload-comment-attachment>