MIX_APP_ID=8336FFC3843C4B248ECFA7F272C01222
MIX_APP_KEY=8336FFC3-843C-4B24-8ECF-A7F272C01222
MIX_NODE_ENV=development

MIX_APP_DOMAIN=localhost
MIX_APP_PORT=3006
APP_BASE_URL=127.0.0.1:3006
MIX_APP_PROTOCOL=http

MIX_MODULE=server-as-service
MIX_THEME=default

# build
MIX_PREFIX_APP_PATH=PREFIX_APP_PATH
MIX_PROXY_URL_BASE=AJAX_BASE_API_URL

# local
MIX_PROXY_URL_BASE=http://localhost:3002
MIX_PREFIX_APP_PATH=/

MIX_IDLE_TIMEOUT=IDLE_TIMEOUT_SECOND
