<loading-page>
	<div id="page-preloader">
        <div class="loader-main">
        	<div class="preload-spinner border-highlight">Loading....</div>
        </div>
    </div>
    <script>
    	export default {
    		onMounted(){
    			console.log('hello')
    		}
    	}
    </script>
</loading-page>