<ekyc-customers-note>
    <span>
        { note }
    </span>
    <script>
        export default {
            setInnerHTML() {
                this.root.innerHTML = this.props.html
            },
            onMounted() {
                this.setInnerHTML()
            },
            onUpdated() {
                this.setInnerHTML()
            }
        }
    </script>
</ekyc-customers-note>