<my-pending-count>
    <span class="badge badge-light">{ totalPending }</span>
    <script>
        import controller from './my-pending-count'
        export default controller
    </script>
</my-pending-count>